#!/usr/bin/env bash
{{ $groups := includeTemplate "lib/chezmoi/active-groups.json.tmpl" . | fromJson -}}
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ if eq .chezmoi.os "darwin" }}
{{ template "lib/common/log.sh" . }}
{{ template "lib/common/install-prelude.sh" . }}
HOMEBREW_BUNDLE_CONTENT=$(cat <<'BREWFILE'
{{ range $groups }}# {{ . }}
{{- $g := index $.packages.darwin.homebrew . }}
{{ range $g.taps }}tap "{{ . }}"
{{ end -}}
{{ range $g.formulas }}brew "{{ . }}"
{{ end -}}
{{ range $g.casks }}cask "{{ . }}"
{{ end -}}
{{ range $g.mas }}mas "{{ .name }}", id: {{ .id }}
{{ end }}
{{ end -}}
BREWFILE
)
{{ template "lib/install/homebrew-bundle.sh" . }}
{{ end }}
