name: development
version: 1.0.0
description: APM project for development
target:
  - claude
  - copilot
  - opencode
author: Edwin Hernandez
includes: auto
dependencies:
  apm:
    - obra/superpowers
    - anthropics/claude-plugins-official/plugins/skill-creator
  mcp:
{{ range .apm.mcp.shared }}
{{ template "apm/mcp-server.yml.tmpl" . }}
{{ end -}}
{{ if .work -}}
{{ range .apm.mcp.work }}
{{ template "apm/mcp-server.yml.tmpl" . }}
{{ end -}}
{{ end -}}
