{{- $groups := list "shared" -}}
{{- if .personal }}{{ $groups = append $groups "personal" }}{{ end -}}
{{- if .work     }}{{ $groups = append $groups "work"     }}{{ end -}}
name: development
version: 1.0.0
description: APM project for development
target:
  - claude
  - copilot
  - opencode
author: Edwin Hernandez
includes: auto
dependencies:
  apm:
    - obra/superpowers
    - JuliusBrussee/caveman
    - schpet/linear-cli
    - anthropics/claude-plugins-official/plugins/skill-creator
  mcp:
{{ range $groups -}}
{{- $servers := index $.apm.mcp . -}}
{{ range $servers -}}
{{ includeTemplate "apm/mcp-server.yml.tmpl" . | trim | indent 4 }}
{{ end -}}
{{ end -}}
