[tools]
{{ $groups := includeTemplate "lib/chezmoi/active-groups.json.tmpl" . | fromJson -}}
{{ range $groups -}}
{{ $tools := index $.mise.tools . -}}
{{ range $tools -}}
"{{ .name }}" = "{{ .version }}"
{{ end -}}
{{ end }}

[settings]
idiomatic_version_file_enable_tools = ["node", "python", "pnpm"]
trusted_config_paths = ["/"]
